@model IEnumerable<GymService.Web.Models.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Adminis"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="card-deck">
    @foreach (var item in Model)
    {
        <div class="card text-left" style="width: 18rem;">
            @if (User.Identity.IsAuthenticated && User.IsInRole("Adminis"))
            {
                <div class="card-header">
                    <a href="#" class="card-link">Edit</a>
                    <a href="#" class="card-link">Details</a>
                    <a href="#" class="card-link">Delete</a>
                </div>
            }
            <img class="card-img-top" src="/images/gym.png" alt="Gym icon.">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer text-center">
                <a href="@Url.Action("Buy", "Cart", new { id = item.Id }, null)" class="btn btn-primary">Buy for @item.Price</a>
            </div>
        </div>
    }
</div>
